.flex-Acc{
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;

    h2{
        text-align: center;
        margin-bottom: 15px;
    }

    .imgAccInf{
        height: 319px;
        width: 300px;
        background-size: 50px;
        border-collapse: 1px;
        border: 1px ridge rgb(96, 108, 56);    
    }
    
    .imgSillaGamer{
    
        background-size:50px ;
        border-collapse: 1px;
        border: 1px ridge rgb(96, 108, 56);
        
    }
    
}
