.imgAccInf{
    height: 319px;
    width: 300px;
    background-size: 50px;
    border-collapse: 1px;
    border: 5px ridge rgb(96, 108, 56);    
}

.subtAcc{
    text-align: center;
}

.imgSillaGamer{

    background-size:50px ;
    border-collapse: 1px;
    border: 5px ridge rgb(96, 108, 56);
    
}