.artJacob{

    h2{
        text-align: center;
    }

    .picJacob{
        display: flex;
        
        justify-content: center;
    }
}

.subSkins{
    display: flex;
    justify-content: center;
}

.img1{
    grid-area: imagen1;
}

.img2{
    grid-area: imagen2;
}

.img3{
    grid-area: imagen3;
}

.img4{
    grid-area: imagen4;
}

.img5{
    grid-area: imagen5;
}

.img6{
    grid-area: imagen6;
}

.img7{
    grid-area: imagen7;
}

.img8{
    grid-area: imagen8;
}

.textSkin{
    grid-area: textoSkin;
}

.skins{

    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{
        
        @extend .bordeGral;
        @include alto (200px);

        @media (min-width: 768px){
            @include dimensiones (150px, 200px)
        }
        
    }

    p{
        text-align: center;
    }

    @media (min-width: 600px){
            display: grid;
            justify-content: space-between;
            align-items: center;
            grid-template-columns: 49% 49%;
            grid-template-rows: 25% 25%;
            grid-template-areas: 
            "img1 img2"
            "img3 img4"
            "img5 img6"
            "img7 img8";
            gap: 10px;
    }

    @media (min-width: 768px){
        display: grid;
        justify-content: space-between;
        justify-items: center;
        text-align: center;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "imagen1 imagen2 imagen3"
        "imagen4 imagen5 imagen6"
        "imagen7 imagen8 imagen8";
        margin-top: 50px;
    }


}





