.flex-iframe{
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;

    h2{
        text-align: center;
        padding: 0px;
    }

    
    iframe{
        margin: 20px;
        border: 1px solid rgb(96, 108, 56);
    
        @media (min-width: 320px){
            border: 1px solid rgb(96, 108, 56);
        }

        @media (min-width: 480px){
            border: 2px solid rgb(96, 108, 56);
        }

    }
}

.artTutoriales{

    h2{
        text-align: center;
        padding: 0px;
    }

    .linkTutoriales{
        color: red;
        padding: 0px;
        margin: 0px;
    }

}
