@import "fuentes";
@import "generales";
@import "titulosParrafos";
@import "header";
@import "contacto";
@import "operadores";
@import "accesoriosInfaltables";
@import "tutoriales";


.gridB{

    .imgBattle {
        grid-area: imgB;
        height: 250px;
        width: 250px;
        border-bottom: 2px solid rgb(96, 108, 56);
        border-top: 2px solid rgb(96, 108, 56);
    }
    
    .titBattle{
        grid-area: titB;
        text-align: center;
    }
    
    .textBattle{
        grid-area: textB;
    }
    
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titB" 
    "imgB" 
    "textB";
    gap: 10px;

}

.gridS{

    .imgSaqueo{
        grid-area: imgS;
        height: 250px;
        width: 250px;
        border-bottom: 2px solid rgb(96, 108, 56);
        border-top: 2px solid rgb(96, 108, 56);
    }
    
    .titSaqueo{
        grid-area: titS;
    }
    
    .textSaqueo{
        grid-area: textS;
    }

    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titS"
    "imgS"
    "textS";
    gap: 10px;
}

.gridR{
    
    .imgRenacimiento{
        grid-area: imgR;
        height: 250px;
        width: 250px;
        border-bottom: 2px solid rgb(96, 108, 56);
        border-top: 2px solid rgb(96, 108, 56);
    }
    
    .titRenacimiento{
        grid-area: titR;
    }
    
    .textRenacimiento{
        grid-area: textR;
    }
    
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titR"
    "imgR"
    "textR";
    gap: 10px;
}

footer{
    padding: 1em;
    background-color: rgb(96, 108, 56);
    margin-bottom: 0em;
    margin-top: 1em;

    .redes{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        @media (min-width: 480px){
            flex-flow: row nowrap;
        }


    }

    .tituloFooter{    
        margin: 1px;
        padding: 1px;
        text-align: center;
        font-weight: bolder;

        @media (min-width: 768px){
            padding: 5px;
            margin: 5px;
            text-align: left;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 1px;
        }

    }

    .icon{
        height: 48px;
        width: 40px;
        margin: 2px;

        @media (min-width: 768px){
            height: 48px;
            width: 48px;
            margin: 5px;
        }

        &:hover{
            transform: scale(1.2);
        }
    }
        
    .navFooter{
        display: flex;
        justify-content: center;

        li:hover{
            transform: scale(1.2);
        }
    }

}



















@media (min-width: 320px){

    /*INICIO*/
    
    .imgInicio{
        height: 320px;
        width: 99.5%;
        border: 1px solid rgb(96, 108, 56);
        display: flex;
        justify-content: center;
    }

    .imgBattle, .imgSaqueo, .imgRenacimiento{
        height: 250px;
        width: 250px;
        border: 2px solid rgb(96, 108, 56);
    }    

    /*OPERADORES*/

    .imgJacob{
        border: 5px ridge rgb(96, 108, 56);
        height: 350px;
        width: 70%;
        margin: 10px 0px 10px 0px;
    }

    .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{
        border: 2px ridge rgb(96, 108, 56);
        height: 200px;   
    }

}

@media (min-width: 480px){
    .imgInicio{
        height: 350px;
        width: 99.5%;
        border: 1px solid rgb(96, 108, 56);
        display: flex;
        justify-content: center;
    }

    .imgSaqueo, .imgRenacimiento{
        height: 300px;
        width: 70%;
    }

    .imgBattle{
        height: 350px;
    }

    .divSaqueo, .divRenacimiento{
        display: flex;
        justify-content: center;
    }
    
    /*OPERADORES*/

    .imgJacob{
        height: auto;
        width: auto;
    }
}

@media (min-width: 600px){
        
    /*INICIO*/
    
    .imgInicio{
        height: 420px;
        width: 99.70%;
        border: 1px solid rgb(96, 108, 56);
        display: flex;
        justify-content: center;
        }

        .imgSaqueo{
            height: 300px;
            width: 70%;
            border: 3px solid rgb(96, 108, 56);
        }

        /*OPERADORES*/

       
        

}

@media (min-width: 768px){
    .imgInicio{
    height: 500px;
    width: 99.80%;
    border: 1px solid rgb(96, 108, 56);
    display: flex;
    justify-content: center;
    }   

    /*BATTLE*/

    .imgBattle{
        height: 320px;
        width: 250px;
        border-collapse: 1px;
        border: 5px ridge rgb(96, 108, 56);   
    }

    .gridB{
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: auto auto;
        justify-content: center;
        grid-template-areas: 
        "titB titB"
        "imgB textB";
        gap: 10px;
    }
    
    .divBattle{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: space-around;
    }
    
    /*SAQUEO*/

    .gridS{
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 26% 66%;
        justify-content: center;
        grid-template-areas: 
        "titS titS"
        "imgS textS";
        gap: 10px;
    }

    .imgSaqueo{
        height: 97%;
        width: 98%;
        border-collapse: 1px;
        border: 5px ridge rgb(96, 108, 56);
    }
    
    .textSaqueo{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .divSaqueo{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 3px;
    }

    /*RENACIMIENTO*/

    .gridR{
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 16% 82%;
        justify-content: center;
        grid-template-areas: 
        "titR titR"
        "imgR textR";
    }

    .imgRenacimiento{
        height: 300px;
        width: 98%;
        border-collapse: 1px;
        border: 5px ridge rgb(96, 108, 56);
    }

    .divRenacimiento{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-left: 3px;
    }

    .textBattle, .textRenacimiento, .textSaqueo{
        text-align: justify;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        
 
}

@media (min-width: 1024px){
    /*INCIO*/

    .imgInicio{
        border-top: 5px ridge rgb(96,108,56);
        border-bottom: 5px ridge rgb(96,108,56);
    }
    
    h2{
        font-size: 40px;
    }

    /*FOOTER*/

    .redes{
        grid-area: redes;
    }
    
    .navFooter{
        grid-area: navFooter;
    }
    
    footer{
        display: grid;
        grid-template-areas: 
        "redes navFooter";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        align-items: center;
    }
}