@import "fuentes";
@import "generales";
@import "titulosParrafos";
@import "header";
/*MOBILE FIRST*/

.imgBattle {
    grid-area: imgB;
}

.titBattle{
    grid-area: titB;
    text-align: center;
}

.textBattle{
    grid-area: textB;
}

/*SAQUEO*/

.imgSaqueo{
    grid-area: imgS;
}

.titSaqueo{
    grid-area: titS;
}

.textSaqueo{
    grid-area: textS;
}

/*RENACIMIENTO*/

.imgRenacimiento{
    grid-area: imgR;
}

.titRenacimiento{
    grid-area: titR;
}

.textRenacimiento{
    grid-area: textR;
}

.gridB{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titB" 
    "imgB" 
    "textB";
    gap: 10px;
}

.gridS{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titS"
    "imgS"
    "textS";
    gap: 10px;
}

.gridR{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titR"
    "imgR"
    "textR";
    gap: 10px;
}

.imgBattle, .imgSaqueo, .imgRenacimiento{
    height: 250px;
    width: 250px;
    border-bottom: 2px solid rgb(96, 108, 56);
    border-top: 2px solid rgb(96, 108, 56);
}

/*CONTACTO*/

article{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    letter-spacing: 1px;
    padding: 5px;
    margin-top: 20px;
}

textarea{
    padding: 5px;
    margin-left: 5px;
}

input{
    padding: 5px;
    margin: 10px;
}

/*OPERADORES*/

.imgJacob{
    border: 5px ridge rgb(96, 108, 56);
    height: 350px;
    width: 70%;
    margin: 10px 0px 10px 0px;
}

.subJ, .subSkins{
    text-align: center;
}

.img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8{
    border: 2px ridge rgb(96, 108, 56);
    height: 200px;   
}

.text{
    text-align: center;
}

.divJacob{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/*ACCESORIOS INFALTABLES*/

.imgAccInf{
    height: 319px;
    width: 300px;
    background-size: 50px;
    border-collapse: 1px;
    border: 5px ridge rgb(96, 108, 56);    
}

.subtAcc{
    text-align: center;
}

.imgSillaGamer{

    background-size:50px ;
    border-collapse: 1px;
    border: 5px ridge rgb(96, 108, 56);
    
}

/*TUTORIALES*/

iframe{
    margin: 20px;
    border: 5px ridge rgb(96, 108, 56);
}

.flex-iframe{
    display: flex;
    flex-flow: row wrap ;
    justify-content: center;
}

.linkTutoriales{
    color: red;
    padding: 0px;
    margin: 0px;
}

/*PIE DE PAGINA*/
@import "footer";

@import "mediaQueries";