@import "fuentes";
@import "generales";
@import "titulosParrafos";
@import "header";
@import "contacto";
@import "operadores";
@import "accesoriosInfaltables";
@import "tutoriales";

.gridB{

    .divBattle{

        @media (min-width: 768px){
            
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: flex-end;
            justify-content: space-around;
            
        }

        .imgBattle {
            grid-area: imgB;
            height: 250px;
            width: 250px;
            border-bottom: 2px solid rgb(96, 108, 56);
            border-top: 2px solid rgb(96, 108, 56);

            @media (min-width: 320px){
                height: 250px;
                width: 250px;
                border: 2px solid rgb(96, 108, 56);
            }

            @media (min-width: 480px){
                height: 350px;
            }
        }

    }
    
    
    .titBattle{
        grid-area: titB;
        text-align: center;
    }
    
    .textBattle{
        grid-area: textB;
        
        @media (min-width: 768px){
            text-align: justify;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titB" 
    "imgB" 
    "textB";
    gap: 10px;

    @media (min-width: 768px){

        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: auto auto;
        justify-content: center;
        grid-template-areas: 
        "titB titB"
        "imgB textB";
        gap: 10px;
    }

}

.gridS{

    div{

        @media (min-width: 480px){
            display: flex;
            justify-content: center;
        }

        @media (min-width: 768px){
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-left: 3px;
        }


        .imgSaqueo{
            grid-area: imgS;
            height: 250px;
            width: 250px;
            border-bottom: 2px solid rgb(96, 108, 56);
            border-top: 2px solid rgb(96, 108, 56);
            
            @media (min-width: 320px){
                height: 250px;
                width: 250px;
                border: 2px solid rgb(96, 108, 56);
            }

            @media (min-width: 480px){
                height: 300px;
                width: 70%;
            }

            @media (min-width: 600px){
                height: 280px;
                width: 70%;
                border: 3px solid rgb(96, 108, 56);
            }  

            @media (min-width: 768px){
                height: 97%;
                width: 98%;
                border-collapse: 1px;
                border: 5px ridge rgb(96, 108, 56);
            }
        }

    }

    
    
    .titSaqueo{
        grid-area: titS;
    }
    
    .textSaqueo{
        grid-area: textS;

        @media (min-width: 768px){
            text-align: justify;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titS"
    "imgS"
    "textS";
    gap: 10px;

    @media (min-width: 768px){
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 26% 66%;
        justify-content: center;
        grid-template-areas: 
        "titS titS"
        "imgS textS";
        gap: 10px;
    }
}

.gridR{
    
    div{

        @media (min-width: 480px){
            display: flex;
            justify-content: center;

            @media (min-width: 768px){
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-around;
                margin-left: 3px;
            }
        }

        .imgRenacimiento{
            grid-area: imgR;
            height: 250px;
            width: 250px;
            border-bottom: 2px solid rgb(96, 108, 56);
            border-top: 2px solid rgb(96, 108, 56);

            @media (min-width: 320px){
                height: 250px;
                width: 250px;
                border: 2px solid rgb(96, 108, 56);
            }

            @media (min-width: 480px){
                height: 300px;
                width: 70%;
            }

            @media (min-width: 768px){
                height: 300px;
                width: 98%;
                border-collapse: 1px;
                border: 5px ridge rgb(96, 108, 56);
            }
        }

    }
    
    
    .titRenacimiento{
        grid-area: titR;
    }
    
    .textRenacimiento{
        grid-area: textR;

        @media (min-width: 768px){
            text-align: justify;
            display: flex;
            flex-direction: column;
            justify-content: center;        
        }
    }
    
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "titR"
    "imgR"
    "textR";
    gap: 10px;

    @media (min-width: 768px){
        display: grid;
        grid-template-columns: 35% 60%;
        grid-template-rows: 16% 82%;
        justify-content: center;
        grid-template-areas: 
        "titR titR"
        "imgR textR";
    }
}

footer{
    padding: 1em;
    background-color: rgb(96, 108, 56);
    margin-bottom: 0em;
    margin-top: 1em;

    @media (min-width: 1024px){
        display: grid;
        grid-template-areas: 
        "redes navFooter";
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        align-items: center;
    }


    .redes{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        grid-area: redes;

        @media (min-width: 480px){
            flex-flow: row nowrap;
        }


    }

    .tituloFooter{    
        margin: 1px;
        padding: 1px;
        text-align: center;
        font-weight: bolder;

        @media (min-width: 768px){
            padding: 5px;
            margin: 5px;
            text-align: left;
            font-family: 'IBM Plex Sans', sans-serif;
            font-size: 14px;
            line-height: 1.6;
            letter-spacing: 1px;
        }

    }

    .icon{
        height: 48px;
        width: 40px;
        margin: 2px;

        @media (min-width: 768px){
            height: 48px;
            width: 48px;
            margin: 5px;
        }

        &:hover{
            transform: scale(1.2);
        }
    }
        
    .navFooter{
        display: flex;
        justify-content: center;
        grid-area: navFooter;

        li:hover{
            transform: scale(1.2);
        }
    }

    

}