@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;1,200&family=Raleway:ital,wght@0,200;1,200&family=Roboto:ital,wght@0,100;1,100&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bolder;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
  background-color: black;
}

/*EXTEND*/
.bordeGral, .skins .img1, .skins .img2, .skins .img3, .skins .img4, .skins .img5, .skins .img6, .skins .img7, .skins .img8 {
  border: 2px ridge rgb(96, 108, 56);
}

.bordeImg {
  border: 5px ridge rgb(96, 108, 56);
}

/*MIXIN*/
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bolder;
  text-decoration: underline;
  font-size: 40px;
  text-align: center;
  background-color: black;
  padding: 10px;
  margin-top: 20px;
}
@media (min-width: 320px) {
  h1 {
    font-size: 30px;
  }
}
@media (min-width: 480px) {
  h1 {
    font-size: 35px;
  }
}
@media (min-width: 600px) {
  h1 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 50px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 60px;
  }
}

h2, h3 {
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  font-family: "Raleway", sans-serif;
  padding: 2px;
  margin: 5px;
}
@media (min-width: 320px) {
  h2, h3 {
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  h2, h3 {
    font-size: 35px;
  }
}

p {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 5px;
  margin: 10px;
}

span {
  font-style: italic;
}

.navB {
  font-size: large;
  background-color: rgb(96, 108, 56);
  margin-bottom: 1em;
}
.navB .divNav {
  justify-content: center;
}
.navB .divNav li:hover {
  transform: scale(1.2);
}
.navB .divNav a {
  padding: 10px;
  margin: 10px;
}

form {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  text-align: justify;
  line-height: 1.6;
  letter-spacing: 1px;
  padding: 5px;
  margin-top: 20px;
}
form .nomAp {
  margin: 0px 20px 20px 20px;
  padding: 10px;
}
form .nomAp label {
  padding: 10px 10px 10px 0px;
}
form .edad {
  margin: 0px 20px 20px 20px;
  padding: 10px;
}
form .edad label {
  padding: 10px 10px 10px 0px;
}
form .correo {
  margin: 0px 20px 20px 20px;
  padding: 10px;
}
form .correo label {
  padding: 10px 10px 10px 0px;
}
form .comentario {
  margin: 0px 20px 20px 20px;
  padding: 10px;
}
form .comentario textarea {
  padding: 10px 10px 10px 0px;
}
form .boton {
  margin: 0px 20px 20px 20px;
  padding: 10px;
}

.artJacob h2 {
  text-align: center;
}
.artJacob .picJacob {
  display: flex;
  justify-content: center;
}

.subSkins {
  display: flex;
  justify-content: center;
}

.img1 {
  grid-area: imagen1;
}

.img2 {
  grid-area: imagen2;
}

.img3 {
  grid-area: imagen3;
}

.img4 {
  grid-area: imagen4;
}

.img5 {
  grid-area: imagen5;
}

.img6 {
  grid-area: imagen6;
}

.img7 {
  grid-area: imagen7;
}

.img8 {
  grid-area: imagen8;
}

.textSkin {
  grid-area: textoSkin;
}

.skins .img1, .skins .img2, .skins .img3, .skins .img4, .skins .img5, .skins .img6, .skins .img7, .skins .img8 {
  height: 200px;
}
@media (min-width: 768px) {
  .skins .img1, .skins .img2, .skins .img3, .skins .img4, .skins .img5, .skins .img6, .skins .img7, .skins .img8 {
    height: 200px;
    width: 150px;
  }
}
.skins p {
  text-align: center;
}
@media (min-width: 600px) {
  .skins {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 49% 49%;
    grid-template-rows: 25% 25%;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6" "img7 img8";
    gap: 10px;
  }
}
@media (min-width: 768px) {
  .skins {
    display: grid;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto auto auto;
    grid-template-areas: "imagen1 imagen2 imagen3" "imagen4 imagen5 imagen6" "imagen7 imagen8 imagen8";
    margin-top: 50px;
  }
}

h2 {
  text-align: center;
  margin-bottom: 15px;
}

.flex-iframe {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.flex-iframe h2 {
  text-align: center;
  padding: 0px;
}
.flex-iframe iframe {
  margin: 20px;
  border: 1px solid rgb(96, 108, 56);
}
@media (min-width: 320px) {
  .flex-iframe iframe {
    border: 1px solid rgb(96, 108, 56);
  }
}
@media (min-width: 480px) {
  .flex-iframe iframe {
    border: 2px solid rgb(96, 108, 56);
  }
}

.artTutoriales h2 {
  text-align: center;
  padding: 0px;
}
.artTutoriales .linkTutoriales {
  color: red;
  padding: 0px;
  margin: 0px;
}

.gridB {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "titB" "imgB" "textB";
  gap: 10px;
}
@media (min-width: 768px) {
  .gridB .divBattle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-around;
  }
}
.gridB .divBattle .imgBattle {
  grid-area: imgB;
  height: 250px;
  width: 250px;
  border-bottom: 2px solid rgb(96, 108, 56);
  border-top: 2px solid rgb(96, 108, 56);
}
@media (min-width: 320px) {
  .gridB .divBattle .imgBattle {
    height: 250px;
    width: 250px;
    border: 2px solid rgb(96, 108, 56);
  }
}
@media (min-width: 480px) {
  .gridB .divBattle .imgBattle {
    height: 350px;
  }
}
.gridB .titBattle {
  grid-area: titB;
  text-align: center;
}
.gridB .textBattle {
  grid-area: textB;
}
@media (min-width: 768px) {
  .gridB .textBattle {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .gridB {
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: auto auto;
    justify-content: center;
    grid-template-areas: "titB titB" "imgB textB";
    gap: 10px;
  }
}

.gridS {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "titS" "imgS" "textS";
  gap: 10px;
}
@media (min-width: 480px) {
  .gridS div {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .gridS div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 3px;
  }
}
.gridS div .imgSaqueo {
  grid-area: imgS;
  height: 250px;
  width: 250px;
  border-bottom: 2px solid rgb(96, 108, 56);
  border-top: 2px solid rgb(96, 108, 56);
}
@media (min-width: 320px) {
  .gridS div .imgSaqueo {
    height: 250px;
    width: 250px;
    border: 2px solid rgb(96, 108, 56);
  }
}
@media (min-width: 480px) {
  .gridS div .imgSaqueo {
    height: 300px;
    width: 70%;
  }
}
@media (min-width: 600px) {
  .gridS div .imgSaqueo {
    height: 280px;
    width: 70%;
    border: 3px solid rgb(96, 108, 56);
  }
}
@media (min-width: 768px) {
  .gridS div .imgSaqueo {
    height: 97%;
    width: 98%;
    border-collapse: 1px;
    border: 5px ridge rgb(96, 108, 56);
  }
}
.gridS .titSaqueo {
  grid-area: titS;
}
.gridS .textSaqueo {
  grid-area: textS;
}
@media (min-width: 768px) {
  .gridS .textSaqueo {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .gridS {
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 26% 66%;
    justify-content: center;
    grid-template-areas: "titS titS" "imgS textS";
    gap: 10px;
  }
}

.gridR {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-areas: "titR" "imgR" "textR";
  gap: 10px;
}
@media (min-width: 480px) {
  .gridR div {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 480px) and (min-width: 768px) {
  .gridR div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 3px;
  }
}
.gridR div .imgRenacimiento {
  grid-area: imgR;
  height: 250px;
  width: 250px;
  border-bottom: 2px solid rgb(96, 108, 56);
  border-top: 2px solid rgb(96, 108, 56);
}
@media (min-width: 320px) {
  .gridR div .imgRenacimiento {
    height: 250px;
    width: 250px;
    border: 2px solid rgb(96, 108, 56);
  }
}
@media (min-width: 480px) {
  .gridR div .imgRenacimiento {
    height: 300px;
    width: 70%;
  }
}
@media (min-width: 768px) {
  .gridR div .imgRenacimiento {
    height: 300px;
    width: 98%;
    border-collapse: 1px;
    border: 5px ridge rgb(96, 108, 56);
  }
}
.gridR .titRenacimiento {
  grid-area: titR;
}
.gridR .textRenacimiento {
  grid-area: textR;
}
@media (min-width: 768px) {
  .gridR .textRenacimiento {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .gridR {
    display: grid;
    grid-template-columns: 35% 60%;
    grid-template-rows: 16% 82%;
    justify-content: center;
    grid-template-areas: "titR titR" "imgR textR";
  }
}

footer {
  padding: 1em;
  background-color: rgb(96, 108, 56);
  margin-bottom: 0em;
  margin-top: 1em;
}
@media (min-width: 1024px) {
  footer {
    display: grid;
    grid-template-areas: "redes navFooter";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    align-items: center;
  }
}
footer .redes {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  grid-area: redes;
}
@media (min-width: 480px) {
  footer .redes {
    flex-flow: row nowrap;
  }
}
footer .tituloFooter {
  margin: 1px;
  padding: 1px;
  text-align: center;
  font-weight: bolder;
}
@media (min-width: 768px) {
  footer .tituloFooter {
    padding: 5px;
    margin: 5px;
    text-align: left;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 1px;
  }
}
footer .icon {
  height: 48px;
  width: 40px;
  margin: 2px;
}
@media (min-width: 768px) {
  footer .icon {
    height: 48px;
    width: 48px;
    margin: 5px;
  }
}
footer .icon:hover {
  transform: scale(1.2);
}
footer .navFooter {
  display: flex;
  justify-content: center;
  grid-area: navFooter;
}
footer .navFooter li:hover {
  transform: scale(1.2);
}/*# sourceMappingURL=estilo.css.map */